@import "../colors/colors-gtk3.css";


* {
    font-family: "AdwaitaSans","BigBlueTerm437 Nerd Font";
}

/* Global Styles */
.bar {
    background: transparent;
    font-weight: bold;
    font-size: 16px;
    color: @foreground;
}

.menu {
    background: transparent;
    color: @foreground;
}

.mainwidget {
    margin: 5px;
    background: alpha(@background, 0.8);
    box-shadow: 0px 0px 3px 2px alpha(@background, 0.3);

    padding: 2px 5px;
   
    border-radius: 5px;
}

.menu-item {
    margin: 5px;
    padding: 5px;
}

.bar button {
    color: inherit;
    box-shadow: none;
    border: none;
    background: transparent;
}
.bar button:hover {
    color: @accent;
}

.menu button {
    background: transparent;
    border: none;
    border-radius: 8px;
    box-shadow: none;
    margin: 2px;
    transition: background 0.1s ease-out;
}
.menu button:hover {
    background: alpha(@lowlight, 0.8);
}

.menu-closer {
    background: transparent;
}

/* Styles on classes (see eww.yuck for more information) */
.workspaces {
    font-size: 0.7em;
}

.bar .music-info {
    margin: 0px 10px;
    font-size: 1em;
    font-weight: bold;
    color: @foreground;
    transition: color 3s ease-out;
}
.bar .music-info .music-info-separator {
    font-size: 0.8em;
    font-weight: normal;
}
@keyframes glow {
  from {
    text-shadow: 0 0 2px;
  }
  to {
    text-shadow: 0 0 7px;
  }
}
.bar .music-playing {
    color: @accent;
    animation: glow 1.6s ease-in-out infinite alternate; 
}

/* MENU STYLING */
.menu-dow {
    font-weight: bold;
    font-size: 4em;
}
.menu-date {
    font-size: 2em;
}
.menu-time {
    font-size: 3em;
}

.sysinfo {
    padding: 15px;
}
.sysinfo-progress {
    color: @highlight;
    background-color: @lowlight;
}
.sysinfo-symbol {
    font-size: 2em;
    font-weight: bold;
}
.sysinfo-value {
    font-weight: bold;
}

.weather-condition {
    font-size: 14px;
}
.weather-condition-symbol {
    font-size: 1.3em;
}
.weather-large-symbol {
    font-size: 300%;
}

.updatealert {
    color: @accent;
    font-size: 0.8em;
}

.music {
    padding: 0px;
}

.music-info-title {
    font-size: 2.5em;
    font-weight: bold;
    padding: 5px;
}
.music-info-artist {
    font-size: 1.5em;
}
.music-info-album {
    font-style: italic;
}

.m_album_cover {
    border-radius: 5px;
    background-size: cover;
    opacity: 0.1;
}
.m_music_else {
    padding: 5px;
}

.music-progress, scale trough {
    all: unset;
    background-color: @lowlight;
    min-height: 5px;
    border: none;
    border-radius: 5px;
}
.music-progress, scale trough highlight {
    all: unset;
    background-color: @highlight;
    border-radius: 5px;
}
.music-progress, scale slider {
    all: unset;
}

.mcontrol-button {
    background: transparent;
    border: none;
    box-shadow: none;
}
.mcontrol-button:hover {
    border: none;
    color: @accent;
}

.round {
    border-radius: 50%;
}
