@import "../colors/colors-gtk3.css";

* {
    text-shadow: none;
    box-shadow: none;

    border: none;
    font-family: Noto_Sans;
    font-size: 18px;
    border-radius: 20px;
}

window {
	font-weight: 600;
}
window#waybar {
    color: @foreground;
    background: transparent; 
}
/*-----module groups----*/
.modules-right {
    background-color: alpha(@lowlight, 0.85);
    margin: 5px 5px 0 0;
}
.modules-right * {
    margin: 0px 8px;
}
.modules-center {
    background-color: alpha(@lowlight, 0.85);
    margin: 5px 0 0 0;
}
.modules-center * {
    margin: 0px 5px;
}
.modules-left {
    margin: 5px 0 0 5px;
    background-color: alpha(@lowlight, 0.85);
}
/*-----modules indv----*/
#workspaces button {
    color: @highlight;
    padding: 0px 8px;
}
#workspaces button:hover {
    background: @highlight;
    color: @lowlight;
}
#workspaces button.active {
    color: @accent;
}
#workspaces button.urgent {
    background-color: rgba(255,104,51,0.85);
}

#clock {
    color: @accent;
}
#custom-power {
    color: @accent;
    border-radius: 100px;
    margin: 0 16px 0 16px;
}
#tray {
    margin: 0px 8px 0px 8px;
}
#tray * {
    margin: 0px;
}
/*-----Indicators----*/

#pulseaudio.muted {
    color: #cc3436;
}
#battery.charging {
    color: #2dcc36;
}
#battery.warning:not(.charging) {
	color: #e6e600;
}
#battery.critical:not(.charging) {
    color: #cc3436;
}
