@import url("/home/jonas/.config/colors/colors-gtk3.css");

#entry {
  border-radius: 3px;
  padding: 2px 3px 2px 3px;
}

#entry:selected {
  background-color: @lowlight;
  outline: none;
}

#text:selected {
  color: @accent;
}

#window {
  padding: 2px;
  background-color: alpha(@background, 0.9);
  border: 2px solid @highlight;
  border-radius: 8pt;
  font-family: 'Inter Nerd Font Propo','FuraCode Nerd Font Mono';
  font-size: 15px;
}

#input {
  border: 2px solid @highlight;
  background-color: alpha(@lowlight, 0.9);
  color: @highlight;
  padding: 3px 5px 3px 5px;
  border-radius: 5px;
}

#inner-box {
  color: @foreground;
  padding: 2px;
  background-color: transparent;
}

#outer-box {
  margin: 15px;
  background-color: transparent;
}

#scroll {
  margin-top: 10px;
  background-color: transparent;
  border: none;
}

#text {
  padding: 3px;
  background-color: transparent;
}

#img {
  background-color: transparent;
  padding: 5px;
}
