@import url("/home/jonas/.config/colors/colors-gtk3.css");

#entry {
  border-radius: 3px;
  padding: 2px 3px 2px 3px;
  border-bottom: 2px transparent solid;
}

#entry:selected {
  background-color: transparent;
  border-bottom: 2px transparent solid;
  border-image: linear-gradient(to right, @accent, rgba(0,0,0,0)) 1;
}

#text {
  padding: 3px;
  background-color: transparent;
}

#text:selected {
  color: @accent;
}

#img {
  background-color: transparent;
  padding: 5px;
}

#window {
  padding: 2px;
  background-color: alpha(@background, 0.9);
  // border: 2px solid @lowlight;
  border-radius: 2pt;
  font-family: 'Inter Nerd Font Propo','FuraCode Nerd Font Mono';
  font-size: 15px;
}

#input {
  border: none;
  background-color: transparent;
  color: @foreground;
  padding: 3px 5px 3px 5px;
}

#inner-box {
  color: @foreground;
  padding: 2px;
  background-color: transparent;
}

#outer-box {
  margin: 15px;
  background-color: transparent;
}

#scroll {
  margin-top: 10px;
  background-color: transparent;
  border: none;
}

/* scroll bar */
trough {
    background: transparent;
    border: none;
}
trough > slider {
    all: unset;
    background: alpha(@lowlight, 0.8);
    min-width: 2px;
}
trough > slider:hover {
    all: unset;
    background: alpha(@highlight, 0.8);
    min-width: 2px;
}
